body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to top,#00ffdc,#002180);
}
.container{
    text-align: center;
    margin-top: 23px;
}
.calculator{
    background: rgb(228 230 93);
    border-radius: 10px;
    padding: 4px;
    display:inline-block;
}
table{
    margin:auto;
}
input{
    font-size: 33px;
    margin: 6px;
    border: 2px solid green;
    border-radius: 10px;
}
button{
    font-size: 28px;
    background: rgb(45 203 45);
    width: 100px;
    height: 55px;
    border-radius: 40px;
}
button:hover{
    background:rgb(199, 196, 14);
}
 
.contain{
    margin:10px;
}
h1{
    margin: 10px;
    font-size: 45px;
    color: #2be252;
    text-shadow: 1px 1px aliceblue;
}
#btn{
    font-size: 13px;
    width: 68px;
    height: 40px;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#equal{
    background: #00ffd0fc;
    font-size: 39px;
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}